/* Project CSS 
============================================================
============================================================*/
body {
    background: #b6b6b6;
    font-family: 'Lato', sans-serif;
    font-size: 1.034em;
    line-height: 22pt;
    margin: 0;
}

/* HEADER ============================== */
nav {
    width: cover;
    height: 160px;
    background: #e6e6e6;
    margin: 0;
    padding-left: 2%;
}

nav h1 {
    color: #00aad6;
    font-size: 3em;
    margin-top: 105px;
    float: left;
}

#logo {
    width: 100px;
    margin: 10px 15px;
    float: left;
    position: 
}

#logo-name {
  margin-top: 70px;
}

/* ABOUT ============================== */
.about {
    width: 60%;
    margin: 35px auto;
    background: #006F8C;
    padding: 2%;
    color: #fff;
}
/* COMPONENTS ============================== */
.components {
    width: 60%;
    margin: 35px auto;
    background: #00aad6;
    padding: 2%;
    color: #fff;
}

.components img {
    display: block;
    max-width: 100%;
    margin: 5% auto;   
}

.components p {
    text-align: center;
}



html {font-size:16px;}

body { font-family: 'Lato', sans-serif;
    margin:0; text-align:center; }

h1 { line-height:100px; margin:0; }

.hero-bg {
  background:#222;
  height:100%;
  max-height:468px;
  width:100%;
  clear:both;
  position:absolute;
  margin-bottom:200px;
  
  background:url(..img/smokies.jpg) no-repeat center center;
  background-size:cover;
  
  @media (min-width:641px) and (max-width:1024px) {
    background:url(..img/smokies.jpg) no-repeat center center;
    background-size:cover;
  }
  
  /*@media (min-width:1025px) and (max-width:1500px) {
    background:url(..img/smokies.jpg) no-repeat center center;
    background-size:cover;
  }*/
  
  @media (min-width:1501px){
    background:url(..img/smokies.jpg) no-repeat center center;
    background-size:cover;
  }
  
  
}

.hero-content {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
}

#cta {
  color:#fff;
  font-size:3em;
  font-weight: 300;
  margin: 0;
}

#cta-p {
    color:#FFFFF7;
    margin: 10px 0 30px;
}

button {
  color:#fff;
  font-size:1.2em;
  border:1px solid #FFFFF7;
  padding:10px 20px;
  background:rgba(0,0,0,0.5);
}
    
button a {
  text-decoration:none;
  color: #fff;
}    
